ADFrepo/pipeline/Check Dependencies.json
{
	"name": "Check Dependencies",
	"properties": {
		"activities": [
			{
				"name": "Check dependencies",
				"description": "Check if depended pipelines are running",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/8b82c9cd-6ece-41e3-8ec8-9129a1918404/resourceGroups/AzureRonin/providers/Microsoft.DataFactory/factories/SelfCallADF/queryPipelineRuns?api-version=2018-06-01",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"lastUpdatedBefore\":\"@{utcnow()}\"\n,\"lastUpdatedAfter\":\"@{addhours(utcnow(),-36)}\",\n\"filters\": [\n    {\n      \"operand\": \"PipelineName\",\n      \"operator\": \"In\",\n      \"values\": \n\t\t@{pipeline().parameters.CheckPipelines}\n    },\n    {\n      \"operand\": \"Status\",\n      \"operator\": \"Equals\",\n      \"values\": [\n        \"InProgress\"\n      ]\n    }\n    \n    \n  ]\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "To Run or not to Run",
				"description": "That is a question",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check dependencies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Check dependencies').output.value),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Activity not executed due to dependency",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Activity executed",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"CheckPipelines": {
				"type": "string",
				"defaultValue": [
					"Dummy Wait"
				]
			}
		},
		"annotations": []
	}
}