SelfCallADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SelfCallADF"
		},
		"Run Each Minute_properties_Check Dependencies_parameters_CheckPipelines": {
			"type": "array",
			"defaultValue": [
				"Dummy Wait"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Check Dependencies')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check dependencies",
						"description": "Check if depended pipelines are running",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/8b82c9cd-6ece-41e3-8ec8-9129a1918404/resourceGroups/AzureRonin/providers/Microsoft.DataFactory/factories/SelfCallADF/queryPipelineRuns?api-version=2018-06-01",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"lastUpdatedBefore\":\"@{utcnow()}\"\n,\"lastUpdatedAfter\":\"@{addhours(utcnow(),-36)}\",\n\"filters\": [\n    {\n      \"operand\": \"PipelineName\",\n      \"operator\": \"In\",\n      \"values\": \n\t\t@{pipeline().parameters.CheckPipelines}\n    },\n    {\n      \"operand\": \"Status\",\n      \"operator\": \"Equals\",\n      \"values\": [\n        \"InProgress\"\n      ]\n    }\n    \n    \n  ]\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					},
					{
						"name": "To Run or not to Run",
						"description": "That is a question",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check dependencies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(length(activity('Check dependencies').output.value),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Activity not executed due to dependency",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Activity executed",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"parameters": {
					"CheckPipelines": {
						"type": "string",
						"defaultValue": [
							"Dummy Wait"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dummy Wait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait a while",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 200
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Other Calls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IR checks",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/8b82c9cd-6ece-41e3-8ec8-9129a1918404/resourceGroups/AzureRonin/providers/Microsoft.DataFactory/factories/SelfCallADF/integrationRuntimes/exampleIntegrationRuntime/getConnectionInfo?api-version=2018-06-01",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"lastUpdatedBefore": "@{utcnow()}",
								"lastUpdatedAfter": "@{addhours(utcnow(),-36)}"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Status Check')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check SelfCallADF status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/8b82c9cd-6ece-41e3-8ec8-9129a1918404/resourceGroups/AzureRonin/providers/Microsoft.DataFactory/factories/SelfCallADF/queryPipelineRuns?api-version=2018-06-01",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"lastUpdatedBefore": "@{utcnow()}",
								"lastUpdatedAfter": "@{addhours(utcnow(),-36)}"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Each 5 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Dummy Wait",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2020-01-20T22:04:00Z",
						"endTime": "2020-01-21T22:04:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Dummy Wait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Each Minute')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Check Dependencies",
							"type": "PipelineReference"
						},
						"parameters": {
							"CheckPipelines": "[parameters('Run Each Minute_properties_Check Dependencies_parameters_CheckPipelines')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-01-20T22:21:00Z",
						"endTime": "2020-01-21T22:21:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Check Dependencies')]"
			]
		}
	]
}